  <mat-horizontal-stepper [linear]="isLinear" #stepper>

    <!-- example -->
    <mat-step >
      <div>
        <ng-template matStepLabel>Details</ng-template>

        <div class="container-fluid">
            <mat-card class="maincard">

              <mat-card-content>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-12">

                    <div style="text-align: center;">
                      <mat-card-title>
                        ආයුබෝවන්!
                      </mat-card-title>
                      <img src="../../assets/img/bot2.png" alt="" style="max-width: 70%; padding-bottom: 10px;">
                    </div>

                    <div class="chatbubble" style="border-radius: 10px!important;">
                      <p>
                      HI! Thank you for come here to help... I'm developing a chatbot for sinhala languege. 
                      For that I need to collect conversational data in Sinhala language.
                     </p>
                    </div>

                    <div class="chatbubble" style="border-radius: 10px!important;">
                      <p>
                        
                        In the following steps, I'll give you a practicle use case on regular customer need, and you need to enter a response for that in <b> Sinhala</b>.</p>
                    </div>


                  <div>

                    </div>
                  </div>
                  
                  <div class="col-lg-6 col-md-6 col-xs-12">
                    <mat-card class="bottomparent" style="padding: 10px;">  
                      <mat-card-title>Example</mat-card-title>  

                      <div class="chatbubble" style="border-radius: 10px!important;background: #ffd1d1;">
                        <p>
                        In the given example for a scenario where customer asked for a details about a show room.</p>
                      </div>

                      <div class=" container-fluid alignbottom">
                        <div class="row" style="margin-bottom: 15px;">
                          
                          <div class="col-md-11">
                            <span class="chatbubble ">සුභ උදෑසනක්! කොහොමද මම ඔයාට උදව් කරන්නෙ?</span>
                          </div>
                          <div class="col-md-1"></div>
                        </div>

                        <div class="row" style="margin-bottom: 15px;">
                          <div class="col-md-3"></div>
                          <div class="col-md-9">
                            <span color="primary" class="chatbubble right">මට ඕගොල්ලන්ගෙ ගල්කිස්ස ‍ශෝ රූම් එක තියෙන තැන දැන ගන්න ඕනෙ :-)</span>
                          </div>
                        </div>

                        <div class="row" style="margin-bottom:3px;padding:0 10px;">
                          <mat-form-field class="full-width">
                            <textarea matInput class="msgbox" rows="5"></textarea>
                          </mat-form-field>

                          
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                          <div class="col-md-12">
                            <button mat-icon-button class="right" matStepperNext>
                              <img src="../../assets/img/sendicon.png" style="max-width: 70%;" alt="">
                            </button>
                            
                          </div>
                        </div>
                      </div>                 

                    </mat-card>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <div>
              <button mat-raised-button color="primary" class="nxtbtn"  matStepperNext>Understood</button>
            </div>
        </div>

        
      </div>
    </mat-step>

    
    <mat-step>
      <ng-template matStepLabel>SJ Fashion</ng-template>
      <mat-card>
        <div style="text-align: center;">
          <div class="chatbubble" style="border-radius: 10px!important;float: none!important;background: #6c5aa6;color:#fff">
            <p>
              On following steps, you'll have to engage with chat bot of <b>SJ Fashion</b>
           </p>
          </div>
          <img src="../../assets/img/main.png" alt="" style="width: 100%;">

          <mat-card-footer >

            <div class="row" style="margin-top:10px;">
              <div class="col-md-5">
              
                <mat-form-field  style="width: 80%;">
                  <input type="text" matInput [(ngModel)]="name" placeholder="Enter your name: ">
                </mat-form-field>
              </div>
              <div class="col-md-7">
                <button mat-raised-button color="primary" class="nxtbtn"  matStepperNext [disabled]="!name">Next</button>
              </div>
            </div>
          </mat-card-footer>


        </div>
      </mat-card>

    </mat-step>
<!-- contact number -->
    <mat-step>
      
        <ng-template matStepLabel></ng-template>

        <div class="container">
          <mat-card class="maincard">
            <mat-card-content>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">

                  <div style="text-align: center;">
                    <mat-card-title>
                      Ask for Contact Number
                    </mat-card-title>
                    <img src="../../assets/img/location.png" alt="" style="max-width: 70%; padding-bottom: 10px;">
                  </div>

                  <div class="chatbubble" style="border-radius: 10px!important;">
                    <p>
                      ඔබට ඔබ වාසය කරන නගරයේ පිහිටා තිබෙන ශාඛාව හා සම්බන්ධ විය හැකි දුරකථන අංකයක් ලබා ගැනීමට අවශ්‍ය බව කියන්න.
                   </p>
                  </div>

                <div>

                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                  <mat-card class="bottomparent" style="padding: 10px;">  

                    <div class=" container-fluid alignbottom">
                      <div class="row" style="margin-bottom: 15px;">
                        
                        <div class="col-md-11">
                          <span class="chatbubble ">සුභ උදෑසනක් {{name}}! කොහොමද මම ඔයාට උදව් කරන්නෙ?</span>
                        </div>
                        <div class="col-md-1"></div>
                      </div>

                      <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                          <span color="primary" *ngIf="telephone" class="chatbubble right">{{ telephone }}</span>
                        </div>
                      </div>

                      <div class="row" style="margin-bottom:3px;padding:0 10px;">
                        <mat-form-field class="full-width">
                          <textarea matInput class="msgbox" rows="5" [(ngModel)]="telephone"></textarea>
                        </mat-form-field>

                        
                      </div>
                      <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-12">
                          <button mat-icon-button class="right"  [disabled]="!telephone" matStepperNext>
                            <img src="../../assets/img/sendicon.png" style="max-width: 70%;" alt="">
                          </button>
                          
                        </div>
                      </div>
                    </div>                 

                  </mat-card>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <div>
            <button mat-raised-button color="primary" class="nxtbtn"  matStepperNext [disabled]="!telephone">Next</button>
            <button mat-raised-button color="warn" class="nxtbtn" matStepperPrevious>Back</button>
          </div>
      </div>

      
    </mat-step>

    <mat-step>
      
      <ng-template matStepLabel></ng-template>

      <div class="container">
        <mat-card class="maincard">
          <mat-card-content>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-12">

                <div style="text-align: center;">
                  <mat-card-title>
                    Ask for Openning Hours
                  </mat-card-title>
                  <img src="../../assets/img/hours.png" alt="" style="max-width: 70%; padding-bottom: 10px;">
                </div>

                <div class="chatbubble" style="border-radius: 10px!important;">
                  <p>
                    දැන් ඔබට අවශ්‍ය වන්නේ අදාල ශාඛාව විවෘතව ඇති වේලාවන් දැන ගැනීමටයි.
                 </p>
                </div>

              <div>

                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-12">
                <mat-card class="bottomparent" style="padding: 10px;">  

                  <div class=" container-fluid alignbottom">
                    <div class="row" style="margin-bottom: 15px;">
                      
                      <div class="col-md-11">
                        <span class="chatbubble ">{{name}}, කොහොමද මම ඔයාට උදව් කරන්නෙ?</span>
                      </div>
                      <div class="col-md-1"></div>
                    </div>

                    <div class="row" style="margin-bottom: 15px;">
                      <div class="col-md-3"></div>
                      <div class="col-md-9">
                        <span color="primary" *ngIf="openingHours" class="chatbubble right">{{ openingHours }}</span>
                      </div>
                    </div>

                    <div class="row" style="margin-bottom:3px;padding:0 10px;">
                      <mat-form-field class="full-width">
                        <textarea matInput class="msgbox" rows="5" [(ngModel)]="openingHours"></textarea>
                      </mat-form-field>

                      
                    </div>
                    <div class="row" style="margin-bottom: 15px;">
                      <div class="col-md-12">
                        <button mat-icon-button class="right"  [disabled]="!openingHours" matStepperNext>
                          <img src="../../assets/img/sendicon.png" style="max-width: 70%;" alt="">
                        </button>
                        
                      </div>
                    </div>
                  </div>                 

                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <div>
          <button mat-raised-button color="primary" class="nxtbtn"  matStepperNext>Next</button>
          <button mat-raised-button color="warn" class="nxtbtn" matStepperPrevious>Back</button>
        </div>
    </div>

    
  </mat-step>

  <mat-step>
      
    <ng-template matStepLabel></ng-template>

    <div class="container">
      <mat-card class="maincard">
        <mat-card-content>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">

              <div style="text-align: center;">
                <mat-card-title>
                  Buy a T-shirt
                </mat-card-title>
                <img src="../../assets/img/tshir.png" alt="" style="max-width: 70%; padding-bottom: 10px;">
              </div>

              <div class="chatbubble" style="border-radius: 10px!important;">
                <p>
                  ලබා දී ඇති ිි අතරින් කොළ පැහැ t-shirt එකෙහි හි ඔබට අවශ්‍ය size ක තිබේ දැයි අහන්න.
               </p>
              </div>

            <div>

              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
              <mat-card class="bottomparent" style="padding: 10px;">  

                <div class=" container-fluid ">
                  <div class="row" style="margin-bottom: 15px;">
                    
                    <div class="col-md-11">
                      <span class="chatbubble ">මේවා තමා අපි ගාව තියෙන ඩිසයින්..</span>
                      <span class="">
                        <img src="../../assets/img/shirtset.PNG" alt="" style="height: 250px;max-width: 100%;">
                      </span>
                    </div>
                    <div class="col-md-1"></div>
                  </div>

                  <div class="row" style="margin-bottom: 15px;">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                      <span color="primary" *ngIf="order" class="chatbubble right">{{ order }}</span>
                    </div>
                  </div>

                  <div class="row" style="margin-bottom:3px;padding:0 10px;">
                    <mat-form-field class="full-width">
                      <textarea matInput class="msgbox" rows="5" [(ngModel)]="order"></textarea>
                    </mat-form-field>

                    
                  </div>
                  <div class="row" style="margin-bottom: 15px;">
                    <div class="col-md-12">
                      <button mat-icon-button class="right"  [disabled]="!order" matStepperNext>
                        <img src="../../assets/img/sendicon.png" style="max-width: 70%;" alt="">
                      </button>
                      
                    </div>
                  </div>
                </div>                 

              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <div>
        <button mat-raised-button color="primary" class="nxtbtn"  matStepperNext>Next</button>
        <button mat-raised-button color="warn" class="nxtbtn" matStepperPrevious>Back</button>
      </div>
  </div>

  
</mat-step>

<mat-step>
      
  <ng-template matStepLabel></ng-template>

  <div class="container">
    <mat-card class="maincard">
      <mat-card-content>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">

            <div style="text-align: center;">
              <mat-card-title>
                Ask for Change the Delivery Address
              </mat-card-title>
              <img src="../../assets/img/address.jpg" alt="" style="max-width: 70%; padding-bottom: 10px;">
            </div>

            <div class="chatbubble" style="border-radius: 10px!important;">
              <p>
                ඇණවුම සදහා ලබා දුන් ලිපිනය( Delivery Address) වෙනස් කිරීමට වන බව chatbot ට කියන්න. ඔබේ ඇණවුම් අංකය #2345 වේ.
             </p>
            </div>

          <div>

            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <mat-card class="bottomparent" style="padding: 10px;">  

              <div class=" container-fluid alignbottom">
                <div class="row" style="margin-bottom: 15px;">
                  
                  <div class="col-md-11">
                    <span class="chatbubble ">සුභ උදෑසනක්! කොහොමද මම ඔයාට උදව් කරන්නෙ?</span>
                  </div>
                  <div class="col-md-1"></div>
                </div>

                <div class="row" style="margin-bottom: 15px;">
                  <div class="col-md-3"></div>
                  <div class="col-md-9">
                    <span color="primary" *ngIf="changeAddress" class="chatbubble right">{{ changeAddress }}</span>
                  </div>
                </div>

                <div class="row" style="margin-bottom:3px;padding:0 10px;">
                  <mat-form-field class="full-width">
                    <textarea matInput class="msgbox" rows="5" [(ngModel)]="changeAddress"></textarea>
                  </mat-form-field>

                  
                </div>
                <div class="row" style="margin-bottom: 15px;">
                  <div class="col-md-12">
                    <button mat-icon-button class="right"  [disabled]="!changeAddress" matStepperNext>
                      <img src="../../assets/img/sendicon.png" style="max-width: 70%;" alt="">
                    </button>
                    
                  </div>
                </div>
              </div>                 

            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div>
      <button mat-raised-button color="primary" class="nxtbtn"  matStepperNext>Next</button>
      <button mat-raised-button color="warn" class="nxtbtn" matStepperPrevious>Back</button>
    </div>
</div>


</mat-step>

<mat-step>
      
  <ng-template matStepLabel></ng-template>

  <div class="container">
    <mat-card class="maincard">
      <mat-card-content>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">

            <div style="text-align: center;">
              <mat-card-title>
                Cancel the Order
              </mat-card-title>
              <img src="../../assets/img/angrybot.jpg" alt="" style="max-width: 70%; padding-bottom: 10px;">
            </div>

            <div class="chatbubble" style="border-radius: 10px!important;">
              <p>
                යම් කිසි හේතුවක් මත ඔබ කළ ඇණවුම අවලංගු කිරීමට සිදු වේ. ඒ බව chatbot ට පවසන්න. ඔබේ ඇණවුම් අංකය #2345 වේ.
             </p>
            </div>

          <div>

            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <mat-card class="bottomparent" style="padding: 10px;">  

              <div class=" container-fluid alignbottom">
                <div class="row" style="margin-bottom: 15px;">
                  
                  <div class="col-md-11">
                    <span class="chatbubble ">කොහොමද මම ඔයාට උදව් කරන්නෙ?</span>
                  </div>
                  <div class="col-md-1"></div>
                </div>

                <div class="row" style="margin-bottom: 15px;">
                  <div class="col-md-3"></div>
                  <div class="col-md-9">
                    <span color="primary" *ngIf="cancelOrder" class="chatbubble right">{{ cancelOrder }}</span>
                  </div>
                </div>

                <div class="row" style="margin-bottom:3px;padding:0 10px;">
                  <mat-form-field class="full-width">
                    <textarea matInput class="msgbox" rows="5" [(ngModel)]="cancelOrder"></textarea>
                  </mat-form-field>

                  
                </div>
                <div class="row" style="margin-bottom: 15px;">
                  <div class="col-md-12">
                    <button mat-icon-button class="right"  [disabled]="!cancelOrder" matStepperNext>
                      <img src="../../assets/img/sendicon.png" style="max-width: 70%;" alt="">
                    </button>
                    
                  </div>
                </div>
              </div>                 

            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div>
      <button mat-raised-button color="primary" class="nxtbtn"  matStepperNext (click)="uploadData()">Next</button>
      <button mat-raised-button color="warn" class="nxtbtn" matStepperPrevious>Back</button>
    </div>
</div>


</mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>

      <mat-card>
        <div style="text-align: center;">
          <mat-card-title>
            Thank you {{name}}!
          </mat-card-title>
          <img src="../../assets/img/thanks.gif" alt="" style="width: 80%;">
        </div>
      </mat-card>
      <!-- <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button>Done</button>
      </div> -->
    </mat-step>

  </mat-horizontal-stepper>
