  <mat-horizontal-stepper [linear]="isLinear" #stepper>

    <mat-step >
      <div>
        <ng-template matStepLabel>Details</ng-template>

        <div class="container">
            <mat-card>
  


              <mat-card-content>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-12">

                    <div style="text-align: center;">
                      <mat-card-title>
                        ආයුබෝවන්!
                      </mat-card-title>
                      <img src="../../assets/img/bot2.png" alt="" style="max-width: 60%;">
                    </div>

                    <div class="chatbubble" style="border-radius: 10px!important;">
                      <p>
                      HI! Thank you for come here to help... I'm developing a chatbot for sinhala languege. 
                      For that I need to collect conversational data in Sinhala language.
                     </p>
                    </div>

                    <div class="chatbubble" style="border-radius: 10px!important;">
                      <p>
                        
                        In the following steps, I'll give you a practicle use case on regular customer need, and you need to enter a response for that in <b> Sinhala</b>.</p>
                    </div>


                  <div>

                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12">
                    <mat-card class="bottomparent" style="padding: 10px;">  
                      <mat-card-title>Example</mat-card-title>  

                      <div class="chatbubble" style="border-radius: 10px!important;">
                        <p>
                        In the given example for a scenario where customer asked for a details about a show room.</p>
                      </div>

                      <div class=" container-fluid alignbottom">
                        <div class="row" style="margin-bottom: 15px;">
                          
                          <div class="col-md-11">
                            <span class="chatbubble ">සුභ උදෑසනක්! කොහොමද මම ඔයාට උදව් කරන්නෙ?</span>
                          </div>
                          <div class="col-md-1"></div>
                        </div>

                        <div class="row" style="margin-bottom: 15px;">
                          <div class="col-md-3"></div>
                          <div class="col-md-9">
                            <span color="primary" class="chatbubble right">මට ඕගොල්ලන්ගෙ ගල්කිස්ස ‍ශෝ රූම් එක තියෙන තැන දැන ගන්න ඕනෙ :-)</span>
                          </div>
                        </div>

                        <div class="row" style="margin-bottom:3px;padding:0 10px;">
                          <mat-form-field class="full-width">
                            <textarea matInput class="msgbox" rows="5"></textarea>
                          </mat-form-field>

                          
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                          <div class="col-md-12">
                            <button mat-icon-button class="right">
                              <img src="../../assets/img/sendicon.png" style="max-width: 70%;" alt="">
                            </button>
                            
                          </div>
                        </div>
                      </div>                 

                    </mat-card>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <div>
              <button mat-raised-button color="primary" class="nxtbtn"  matStepperNext>Understood</button>
            </div>
        </div>

        
      </div>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="uploadData()">Done</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
